
client/node_modules
client/dist
client/.env*


server/node_modules
server/coverage
server/tests
server/.env*
server/logs


.git
.gitignore
.github


docker-compose*.yml
nginx/

observability/


.DS_Store
Thumbs.db


.vscode/
.idea/